<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css"
    />
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="flex justify-between">
      <!-- paper page -->

      <div class="order-first z-0">
        <main>
          <% for (var i=0; i < tiwme.img.lenght ; i++) { %>
          <section class="w-full h-screen">
            <img src="<%" ="tiwme.img[i]" % />
          </section>
          <% } %>
        </main>
      </div>
    </div>
  </body>
</html>
